.logo {
    width: auto !important;
    height: 60px !important;
}
  
.btn.amazonButton {
    background-color: #ff9900;
    border: 1px solid #0c0c0c;
}
  

.btn.amazonButton:hover {
    background-color: orange;
    border: 1px solid #0c0c0c;
}

.navbar {
    position: fixed;
    top: 0;
    width: auto;
    z-index: 10;
}

.navbar-logo {
    height: 50px; 
    width: auto;
}