.HomeCard {
    padding: 10px; /* Adjust as needed */
    margin: 5px; /* Adjust as needed */

}

.btn.amazonButton {
    background-color: #ff9900;
    border: 1px solid #0c0c0c;
}
  

.btn.amazonButton:hover {
    background-color: orange;
    border: 1px solid #0c0c0c;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-small {
    font-size: small;
}