.HomeCard {
    padding: 10px; /* Adjust as needed */
    margin: 5px; /* Adjust as needed */

}

.btn.amazonButton {
    background-color: #ff9900;
    border: 1px solid #0c0c0c;
}
  

.btn.amazonButton:hover {
    background-color: orange;
    border: 1px solid #0c0c0c;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-small {
    font-size: small;
}

.img-width-370px {
    width: 370px;
}

hr.clear {
    margin-top: 20px;
    border: none;
}

.gradient-text {
    background: linear-gradient(90deg, #f14c23, orange);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 5s linear infinite;
} 

@keyframes gradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}